{port_specs, [
    {"priv/nfq_node", ["c_src/nfq_node.c"]}
    ]}.

{port_env, [
    {"LDFLAGS", "$LDFLAGS  -lerl_interface -lei -lnsl -lpthread -lnetfilter_queue -D_REENTERANT -Wall"}
    ]}.


{erl_opts, [
    debug_info,
    warn_obsolete_guards,
    warn_unused_vars,
    warn_unused_import
]}.

{lib_dir, ["deps"]}.
{deps_dir, "deps"}.

{clean_files, ["manager.conf", "snmpm_config_db", "priv/nfq_node"]}.

{xref_checks, [undefined_function_calls]}.

{deps, [
	{lager, ".*",{git, "git://github.com/basho/lager"}}
]}.
